<% include partials/header.ejs %>

<h1><%= "Snippets Library".toUpperCase() %></h1>

<ul>
    <% snippets.forEach((item) => { %>
    <li>
        <%= item.id %> | <strong><%= item.title %></strong>> | <%= item.content %> | <%= item.lg %> |
        <%= item.desc %>
    </li>
    <% }) %>
</ul>

<h2>Add a snippet</h2>
<form action="/addsnippet" method="POST">
    <textarea rows="1" cols="50" placeholder="title" name="title"></textarea><br><br>
    <textarea rows="8" cols="50" placeholder="snippet" name="content"></textarea><br><br>
    Language:
    <select name="lg">
        <option value="java" selected>Java</option>
        <option value="javascript">Java Script</option>
        <option value="mysql">My SQL</option>
    </select><br><br>
    <textarea rows="4" cols="50" placeholder="optional notes" name="desc"></textarea><br><br>
    <input id="addButton" type="submit" value="Add snippet">
</form>

<h2>Delete a snippet</h2>
<input id="idInput" placeholder="enter snippet id" type="number"><br><br>
<input id="deleteButton" type="submit" value="Delete"> <!-- onclick="myFunction()" -->

<% include partials/footer.ejs %>